Buggy Project Arduino/Debug/
Buggy Project Arduino/.vs/
Buggy Project Arduino/Buggy Project Arduino/Debug/
Buggy Project Arduino/Buggy Project Arduino/Buggy Project Arduino.vcxproj.filters
Buggy Project Arduino/Buggy Project Arduino/Buggy Project Arduino.vcxproj
Buggy Project Arduino/Buggy Project Arduino.VC.VC.opendb
Buggy Project Arduino/Buggy Project Arduino.VC.db
Buggy Project Arduino/Buggy Project Arduino.sln
Buggy Project Notes.docx
IDE Code/Buggy_Project/hs_err_pid41868.log
Report.docx
rm14075.pdf
~$Report.docx
~$ggy Project Notes.docx
~WRL0062.tmp
~WRL3885.tmp
